Cartopy
dash==2.16.1
dash-core-components
dash-extensions
dash-html-components
dash-table
Fiona
Flask
Flask-Caching
folium
gunicorn
geographiclib
geopandas
matplotlib
matplotlib-inline
requests
Shapely
zipp